[data-theme='drinky'] {
	--text-scaling: 1.2;
	--base-font-color: var(--color-primary-800);
	--base-font-color-dark: var(--color-warning-300);
	--base-font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
	--base-font-size: inherit;
	--base-line-height: 28px;
	--base-font-weight: bolder;
	--base-font-style: inherit;
	--base-letter-spacing: 0.025em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.28rem;
	--radius-base: 0.375rem;
	--radius-container: 0.75rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-success-300);
	--body-background-color-dark: var(--color-warning-800);
	--color-primary-50: oklch(97.21% 0.04 188.7deg);
	--color-primary-100: oklch(89.73% 0.04 188.43deg);
	--color-primary-200: oklch(82.13% 0.04 190.17deg);
	--color-primary-300: oklch(74.55% 0.04 187.98deg);
	--color-primary-400: oklch(66.57% 0.04 189.73deg);
	--color-primary-500: oklch(58.33% 0.04 189.36deg);
	--color-primary-600: oklch(51.26% 0.04 188.78deg);
	--color-primary-700: oklch(43.92% 0.04 190.77deg);
	--color-primary-800: oklch(36.59% 0.04 187.58deg);
	--color-primary-900: oklch(28.61% 0.04 189.41deg);
	--color-primary-950: oklch(20.02% 0.03 188.15deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(98.77% 0.06 107.5deg);
	--color-secondary-100: oklch(95.52% 0.08 99.22deg);
	--color-secondary-200: oklch(92.34% 0.09 93.28deg);
	--color-secondary-300: oklch(89.11% 0.11 89.46deg);
	--color-secondary-400: oklch(86.06% 0.12 85.5deg);
	--color-secondary-500: oklch(83.07% 0.14 81.98deg);
	--color-secondary-600: oklch(75.77% 0.13 81.32deg);
	--color-secondary-700: oklch(68.18% 0.12 81.16deg);
	--color-secondary-800: oklch(60.71% 0.11 80.84deg);
	--color-secondary-900: oklch(52.69% 0.1 79.95deg);
	--color-secondary-950: oklch(44.51% 0.09 77.5deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(98.73% 0.07 107.54deg);
	--color-tertiary-100: oklch(94.32% 0.08 93.44deg);
	--color-tertiary-200: oklch(89.97% 0.09 82.13deg);
	--color-tertiary-300: oklch(85.8% 0.1 75.17deg);
	--color-tertiary-400: oklch(81.67% 0.12 67.97deg);
	--color-tertiary-500: oklch(77.7% 0.14 61.97deg);
	--color-tertiary-600: oklch(70.39% 0.13 61.01deg);
	--color-tertiary-700: oklch(62.85% 0.12 58.91deg);
	--color-tertiary-800: oklch(55.18% 0.12 57.17deg);
	--color-tertiary-900: oklch(47.26% 0.11 53.65deg);
	--color-tertiary-950: oklch(39.14% 0.1 50.38deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(98.95% 0.05 107.33deg);
	--color-success-100: oklch(93.74% 0.06 84.98deg);
	--color-success-200: oklch(88.53% 0.07 68.62deg);
	--color-success-300: oklch(83.55% 0.09 57.03deg);
	--color-success-400: oklch(78.65% 0.12 49.75deg);
	--color-success-500: oklch(74.13% 0.14 44.56deg);
	--color-success-600: oklch(66.6% 0.14 43.36deg);
	--color-success-700: oklch(58.93% 0.13 41.6deg);
	--color-success-800: oklch(51.41% 0.13 40.44deg);
	--color-success-900: oklch(43.49% 0.13 38.13deg);
	--color-success-950: oklch(35.53% 0.12 36.26deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(99.89% 0.01 106.26deg);
	--color-warning-100: oklch(94.4% 0.02 46.85deg);
	--color-warning-200: oklch(88.75% 0.04 34.84deg);
	--color-warning-300: oklch(83.2% 0.05 34.06deg);
	--color-warning-400: oklch(77.64% 0.07 31.36deg);
	--color-warning-500: oklch(72.34% 0.1 31.72deg);
	--color-warning-600: oklch(65.01% 0.09 31.53deg);
	--color-warning-700: oklch(57.51% 0.09 31.37deg);
	--color-warning-800: oklch(49.52% 0.09 29.65deg);
	--color-warning-900: oklch(41.61% 0.09 29.71deg);
	--color-warning-950: oklch(33.53% 0.09 30.07deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-light);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(89.99% 0.04 14.04deg);
	--color-error-100: oklch(88.91% 0.03 33.81deg);
	--color-error-200: oklch(87.85% 0.03 57.1deg);
	--color-error-300: oklch(86.94% 0.04 80.59deg);
	--color-error-400: oklch(85.92% 0.05 94.88deg);
	--color-error-500: oklch(84.91% 0.06 104.22deg);
	--color-error-600: oklch(74.51% 0.06 68.4deg);
	--color-error-700: oklch(64.61% 0.09 43.88deg);
	--color-error-800: oklch(55.02% 0.12 32.19deg);
	--color-error-900: oklch(47.23% 0.16 28.82deg);
	--color-error-950: oklch(41.86% 0.17 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-dark);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(92.27% 0.03 17.76deg);
	--color-surface-200: oklch(84.88% 0.06 18.45deg);
	--color-surface-300: oklch(77.63% 0.1 19.52deg);
	--color-surface-400: oklch(70.89% 0.13 20.95deg);
	--color-surface-500: oklch(64.67% 0.17 22.99deg);
	--color-surface-600: oklch(56% 0.14 22.67deg);
	--color-surface-700: oklch(47.01% 0.11 22.18deg);
	--color-surface-800: oklch(37.79% 0.08 21.47deg);
	--color-surface-900: oklch(27.94% 0.04 20.08deg);
	--color-surface-950: oklch(17.76% 0 none);
	--color-surface-contrast-dark: var(--color-surface-900);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}